.search-section {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.search-title-container {
  padding-top: 50px;
}

.search-bar-button {
  width: 80vw;
  display: flex;
  gap: 10px;
}

.search-input {
  border: 1px solid #79849f;
  padding-block: 20px;
  padding-inline: 12px;
  width: 70vw;
  border-radius: 20px;
  background-color: #2c3d69;
  color: #79849f;
  font-size: 16px;
  padding-left: 25px;
}

.search-button{
  cursor: pointer;
  background-color: #00b2e0;
  color: white;
  border-radius: 20px;
  padding-block: 20px;
  padding-inline: 30px;
  border: 1px solid #79849f;
  font-size: 16px;
}


