@use '../../variables' as *;

.results-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $space-6;
    list-style: none;
    padding: 0;
    margin-top: $space-12;
    width: 80vw;
    height: 100%;
}
.filter-buttons {
  display: flex;
  gap: $space-3;
  margin-bottom: $space-6;
  margin-top: $space-5;
}

.filter-buttons button {
  cursor: pointer;
  background-color: $purple-primary;
  color: $text-primary;

  border: none;
  border-radius: $radius-full;

  padding: $space-2 $space-5;

  font-size: $font-size-sm;
  font-weight: $font-weight-medium;

  @include smooth-transition();
}

.filter-buttons button:hover {
  background-color: $purple-secondary;
}

.filter-buttons button.active {
  background: $gradient-logo;
  box-shadow: 0 6px 16px rgba(0, 140, 255, 0.4);
}
.results-message {
  margin-top: $space-6;
  color: $text-secondary;
  text-align: center;
  font-size: $font-size-sm;
  opacity: 0.9;
}
