.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0c1429, #152c70);
  width: 90vw;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.logo {
  border-radius: 50%;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-left: 150px;
}

.login-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  color: white;
  background-color: #00b2e0;
  font-size: 16px;
  cursor: pointer;
  text-wrap: nowrap;
  padding-block: 8px;
  padding-inline: 12px;
  border-radius: 10px;
  font-weight: bold;
}

.person-icon {
  width: 20px;
}
