.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0c1429, #152c70);
  width: 100%;
}

a {
  color: #fff;
      text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 10px;
  margin-inline-start: 10rem;
}

.header-logo {
  width: 60px;
  height: 60px;
}

.login-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  color: white;
  background-color: #00b2e0;
  font-size: 16px;
  cursor: pointer;
  text-wrap: nowrap;
  padding-block: 8px;
  padding-inline: 12px;
  border-radius: 10px;
  font-weight: bold;
  margin-inline-end: 12rem;
}

.person-icon {
  width: 20px;
}
