* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background: linear-gradient(to bottom, #111c37, #17317b);
  margin: 0;
  padding: 0;
}
