* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
}

body {
  background: linear-gradient(to right, #111c37, #17317b);
  margin: 0;
  padding: 0;
}
